/* [STRUCTURE] layout containers and blocks */
main { width: 100%; margin: 0 auto; padding: 0; }
.row { flex: 1 0 100%; padding: 0; display: flex; flex-wrap: wrap; flex-direction: row; }
[class^='w--'] { flex: 1 0 100%; margin: 0; padding: 4em; }
.column-main, .column-sidebar { width: 100%; margin: 0; padding: 0; }
.main-container { padding: 0; margin: 0; }

/* [TABLET] column widths */
@media screen and (min-width: 800px) {
  .w--1of6 { flex: 1 0 calc(33.3333%);     }
  .w--1of5 { flex: 1 0 calc(33.3333%);     }
  .w--1of4 { flex: 1 0 calc(50%);          }
  .w--1of3 { flex: 1 0 calc(50%);          }
  .w--2of5 { flex: 1 0 calc(50%);          }
  .w--1of2 { flex: 1 0 calc(50%);          }
  .w--3of5 { flex: 1 0 calc(100%);         }
  .w--2of3 { flex: 1 0 calc(100%);         }
  .w--3of4 { flex: 1 0 calc(100%);         }
  .w--4of5 { flex: 1 0 calc(100%);         }
  .w--5of6 { flex: 1 0 calc(100%);         }
  .column-main    { width: 66.6666%; }
  .column-sidebar { width: 33.3333%; }
}

/* [DESKTOP] column widths */
@media screen and (min-width: 1200px) {
  .w--1of6 { flex: 1 0 calc(16.6666%); }
  .w--1of5 { flex: 1 0 calc(20%);      }
  .w--1of4 { flex: 1 0 calc(25%);      }
  .w--1of3 { flex: 1 0 calc(33.3333%); }
  .w--2of5 { flex: 1 0 calc(40%);      }
  .w--1of2 { flex: 1 0 calc(50%);      }
  .w--3of5 { flex: 1 0 calc(60%);      }
  .w--2of3 { flex: 1 0 calc(66.6666%); }
  .w--3of4 { flex: 1 0 calc(75%);      }
  .w--4of5 { flex: 1 0 calc(80%);      }
  .w--5of6 { flex: 1 0 calc(83.3333%); }
}

/* [HEIGHTS] set a fixed height, applied to containers */
.h--25  { height: 25vh;  }
.h--50  { height: 50vh;  }
.h--75  { height: 75vh;  }
.h--100 { height: 100vh; }

/* [OFFSETS] push blocks to the right, applied to grid blocks */
[class*='o--'] { margin-left: 0; }
  @media (min-width: 1200px) {
    .o--2of3 { margin-left: 66.6666% !important; }
    .o--3of4 { margin-left: 75% !important; }
    .o--1of2 { margin-left: 50% !important;      }
    .o--2of5 { margin-left: 40% !important;      }
    .o--1of3 { margin-left: 33.3333% !important; }
    .o--1of4 { margin-left: 25% !important;      }
    .o--1of5 { margin-left: 20% !important;      }
    .o--1of6 { margin-left: 16.6666% !important; }
  }

/* [VERTICAL OFFSETS] push blocks up or down, applied to grid blocks */
.ov--25 { margin-top: 0; }
  @media screen and (min-width: 800px) { .ov--25 { margin-top: 0; } }
  @media screen and (min-width: 1200px) { .ov--25 { margin-top: 25vw; } }
.ov--neg25 { margin-top: 0; }
  @media screen and (min-width: 800px) { .ov--neg25 { margin-top: 0; } }
  @media screen and (min-width: 1200px) { .ov--neg25 { margin-top: -25vw; } }
.ov--50 { margin-top: 0; }
  @media screen and (min-width: 800px) { .ov--50 { margin-top: 0; } }
  @media screen and (min-width: 1200px) { .ov--50 { margin-top: 50vw; } }

/* [UTILITIES] bahavior modifier classes, applied to containers and grid blocks */
.hide { display: none; visibility: hidden; }
  @media screen and (min-width: 800px) {
    .hide { display: inherit; visibility: visible; }
  }
.text-center { text-align: center !important;  }
.text-right  { text-align: right !important;   }
.no-pad      { padding: 0 !important;          }
.pinned      { flex-grow: 0 !important;                   }
.blimped     { flex-grow: 1;                   }
.bottomless  { margin-bottom: 0;               }