/* COLORS */
/* Red      rgb(236, 27, 54) */



@import url('sanitize.css');
@import url('grid.css');

/* Add some basic typography.
======================================= */

* { box-sizing: border-box; }
html { height: 100%; }
html, body {
  background: #1D1D1D;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #1D1D1D;
}
h1, h2, h3, h4, h5, h6 {
  color: #808080;
}
h1 {
  font-size: 6vw; /* 48 / 16 */
  font-weight: 300;
  margin-bottom: 1em; /* 24 / 48 */
}
  @media screen and (min-width: 800px){
    h1{
      font-size: 4vw;
    }
  }
  @media screen and (min-width: 1200px){
    h1{
      font-size: 3vw;
      font-weight: 300;
    }
  }
h2 {
  font-size: 2.25em; /* 36 / 16 */
  line-height: 1.333333333333333em; /* 48 / 36 */
  margin-bottom: .6666666666666667em; /* 24 / 36 */
}
h3 {
  font-size: 1.5em; /* 24 / 16 */
  line-height: 1em; /* 24 / 24 */
  margin-bottom: 1em; /* 24 / 24 */
}
h4 {
  font-size: 1.3125em; /* 21 / 16 */
  line-height: 1.142857142857143em; /* 24 / 21 */
  margin-bottom: 1.142857142857143em; /* 24 / 21 */
}
h5 {
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333333333333333em; /* 24 / 18 */
  margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h6 {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  /*margin-bottom: 1.5em; /* 24 / 16 */
}
h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 65%;
  margin-top: -1.5em;
  margin-bottom: 2em;
}
p, ul, ol, dl, blockquote {
  margin-bottom: 1.5em;
}
p{
  font-size: 4vw;
  line-height: 1.5;
}
  @media screen and (min-width: 800px){
    p{
      font-size: 2.5vw;
    }
  }
  @media screen and (min-width: 1200px){
    p{
      font-size: 1.5vw;
    }
  }
pre, code {
  font-family: 'source-code-pro', sans-serif;
}
em { font-style: italic; }
strong { font-weight: 700; }
a:link, a:visited {
  color: #BF263C;
}
  a:hover, a:focus, a:active {
    color: #D8334A;
  }
hr {
  border: 0;
  height: 1px;
  border-bottom: 1px solid #DDDDDD;
  margin: 4em 0em 0em;
  width: 100%;
}
  hr.wedge {
    height: 3px;
    width: 50px;
    background: rgb(236, 27, 54);
    border: 0;
    text-align: left;
  }
ul {
  list-style: none;
  list-style-position: inside;
}
  ul li > ul {
    list-style: square;
    list-style-position: inside;
  }
  ul.checked {
    list-style-type: none;
  }
    ul.checked li {
      font-weight: 700;
    }





/* HEADER */
header {
  background: #323133;
  background-position: center center;
  background-size: cover;
  min-height: 100vh;
  padding: 1em 1em 1.5em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden !important;
}
  @media screen and (min-width: 1200px) {
    header {
      padding: 3em 15%;
    }
  }
  header .logo {
    max-width: 3em;
    margin-bottom: 1em !important;
  }
    @media screen and (min-width: 1200px) {
      header .logo {

      }
    }



/* NAVIGATION */
nav {

}
  @media screen and (min-width: 1200px) {
    nav {

    }
  }
  nav a {
    margin-right: 2em;
    font-size: 4vw;
    font-weight: 900;
  }
    @media screen and (min-width: 800px){
      nav a {
        font-size: 2.5vw;
        font-weight: 700;
      }
    }
    @media screen and (min-width: 1200px){
      nav a {
        font-size: 1.5vw;
      }
    }



/* SECTIONS */
section {
  padding: 2em 1em;
  background: #1D1D1D;
}
  @media screen and (min-width: 1200px) {
    section {
      padding: 4em 15%;
    }
  }
  .client-list {
    
  }

.portfolio-item {
  background: gray;
  height: 15em;
}
.portfolio-logo {
  max-width: 10em;
  margin-bottom: 3em;
}
.view-work {
  padding: 0.75em 2em;
  border: 3px solid #393C48;
  border-radius: .35em;
  font-weight: 900;
  text-transform: uppercase;
  margin-top: 3em;
  display: inline-block;
}

/* FOOTER */
footer {
  background: #1D1D1D url('../img/maps.jpg') center center no-repeat;
  background-size: cover;
  font-family: 'proxima-nova' sans-serif;
  color: #3C3B3D;
  padding: 2em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
  @media screen and (min-width: 1200px) {
    footer {
      padding: 8em 15%;
    }
  }
  footer .w--1of2 {
    flex: 0 0 50% !important;
  }
  footer .logo {
    max-width: 5em;
    margin-bottom: 0 !important;
  }



  .bottomed {
    align-self: flex-end;
  }