/* COLORS */
/* Red      rgb(236, 27, 54) */



@import url('sanitize.css');
@import url('grid.css');

/* Add some basic typography.
======================================= */

* { box-sizing: border-box; }
html { height: 100%; }
html, body {
  background: white;
  font: 14px/1.5em 'adobe-garamond-pro', serif;
  color: #121212;
}
  @media screen and (min-width: 800px) {
    body {
      font-size: 18px;
    }
  }
  @media screen and (min-width: 1200px) {
    body {
      font-size: 24px;
    }
  }
h1, h2, h3, h4, h5, h6 {
  font-family: 'proxima-nova', sans-serif;
  color: rgb(236, 27, 54);
}
h1 {
  font-size: 3em; /* 48 / 16 */
  font-weight: 300;
  line-height: 1.25em; /* 48 / 48 */
  margin-bottom: 0.5em; /* 24 / 48 */
}
h2 {
  font-size: 2.25em; /* 36 / 16 */
  line-height: 1.333333333333333em; /* 48 / 36 */
  margin-bottom: .6666666666666667em; /* 24 / 36 */
}
h3 {
  font-size: 1.5em; /* 24 / 16 */
  line-height: 1em; /* 24 / 24 */
  margin-bottom: 1em; /* 24 / 24 */
}
h4 {
  font-size: 1.3125em; /* 21 / 16 */
  line-height: 1.142857142857143em; /* 24 / 21 */
  margin-bottom: 1.142857142857143em; /* 24 / 21 */
}
h5 {
  font-size: 1.125em; /* 18 / 16 */
  line-height: 1.333333333333333em; /* 24 / 18 */
  margin-bottom: 1.333333333333333em; /* 24 / 18 */
}
h6 {
  font-size: 1em; /* 16 / 16 */
  line-height: 1.5em; /* 24 / 16 */
  /*margin-bottom: 1.5em; /* 24 / 16 */
}
h1.heading, h2.heading, h3.heading, h4.heading, h5.heading, h6.heading {
  letter-spacing: 5px;
  text-transform: uppercase;
  font-size: 65%;
  margin-top: -1.5em;
  margin-bottom: 2em;
}
p, ul, ol, dl, blockquote {
  margin-bottom: 1.5em;
}
pre, code {
  font-family: 'source-code-pro', sans-serif;
}
em { font-style: italic; }
strong { font-weight: 700; }
small { font-size: 60%; line-height: 150%; }
a:link, a:visited {
  color: rgba(236, 27, 54, 1);
}
  a:hover, a:focus, a:active {
    color: rgba(236, 27, 54, 0.5);
  }
hr {
  border: 0;
  height: 1px;
  border-bottom: 1px solid #DDDDDD;
  margin: 4em 0em 0em;
  width: 100%;
}
  hr.wedge {
    height: 3px;
    width: 50px;
    background: rgb(236, 27, 54);
    border: 0;
    text-align: left;
  }
ul {
  list-style: circle;
  list-style-position: outside;
}
  ul li > ul {
    list-style: square;
    list-style-position: inside;
  }
  ul.checked {
    list-style-type: none;
  }
    ul.checked li {
      font-weight: 700;
    }





/* HEADER */
header {
  background: #F7F7F7 url('../img/veum-bg.jpg') no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  padding: 1em 1em 1.5em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden !important;
}
  @media screen and (min-width: 1200px) {
    header {
      padding: 2em 2em 3em 2em;
    }
  }
  header .logo {
    max-width: 2em;
    margin-bottom: 0 !important;
    position: fixed;
    top: 2em;
    left: 2em;
    z-index: 2;
  }
    @media screen and (min-width: 1200px) {
      header .logo {
        top: 3em;
        left: 3.5em;
      }
    }
  header .logo-bg {
    position: fixed;
    top: -3.5em;
    left: -2em;
    max-width: 25%;
    z-index: 0;
  }



/* NAVIGATION */
nav {
  position: fixed;
  top: 2.75em;
  right: 2em;
  z-index: 2;
}
  @media screen and (min-width: 1200px) {
    nav {
      top: 4em;
      right: 3.5em;
    }
  }
  nav a {
    font-family: 'proxima-nova', sans-serif;
    font-weight: 900;
    font-size: 0.75rem;
    text-transform: uppercase;
    margin-left: 3em;
    letter-spacing: 1px;
  }
    @media screen and (min-width: 1200px) {
      nav a {
        font-size: 1rem;
        letter-spacing: 2px;
      }
    }

.heading-clients::before {
  content: '';
  height: 0.2em;
  width: 0.2em;
  display: block;
  background: #DDDDDD;
  border-radius: 0.1em;
  position: relative;
  top: 1.5em;
  left: 1.5em;
}
.heading-clients::after {
  content: '';
  height: 0.4em;
  width: 0.4em;
  display: block;
  background: #DDDDDD;
  border-radius: 0.2em;
  position: relative;
  top: -0.5em;
  left: 3.5em;
}
.heading-work::before {
  content: '';
  height: 0.24em;
  width: 0.24em;
  display: block;
  background: #DDDDDD;
  border-radius: 0.12em;
  position: relative;
  top: -0.5em;
  left: 1.5em;
}
.heading-work::after {
  content: '';
  height: 0.36em;
  width: 0.36em;
  display: block;
  background: #DDDDDD;
  border-radius: 0.18em;
  position: relative;
  top: 0.25em;
  left: 3.5em;
}

/* SECTIONS */
section {
  padding: 2em 1em;
}
  @media screen and (min-width: 1200px) {
    section {
      padding: 4em 2em;
    }
  }
  .client-list {
    
  }

.portfolio-item {
  background: gray;
  height: 15em;
}
.portfolio-logo {
  max-width: 10em;
  margin-bottom: 3em;
}
.view-work {
  padding: 0.75em 2em;
  border: 3px solid #393C48;
  border-radius: .35em;
  font-family: 'proxima-nova', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 75%;
  margin-top: 3em;
  display: inline-block;
}

/* FOOTER */
footer {
  background: url('../img/map.jpg') center center no-repeat;
  background-size: cover;
  font-family: 'proxima-nova' sans-serif;
  color: rgba(255, 255, 255, 0.5);
  padding: 2em 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}
  @media screen and (min-width: 1200px) {
    footer {
      padding: 8em 2em;
    }
  }
  footer .row {
    justify-content: space-between !important;
  }
  footer span {
    font-size: 65%;
    line-height: 1.5em;
  }
  footer strong {
    color: rgba(255, 255, 255, 0.75);
  }
  footer .copyright {
    color: rgba(255, 255, 255, 0.25);
  }
  footer .muffin {
    margin: 0 2em;
    font-size: 200%;
    font-weight: 100;
    position: relative;
    top: 0.125em;
  }