# JRS86 .htaccess

# One month for most static assets
<filesMatch ".(html|css|jpg|jpeg|png|gif|js|ico|svg)$">
Header set Cache-Control "max-age=31557600, public"
</filesMatch>

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls
RewriteEngine on
