/* ARTICLES */
article header {

}
article p:first-of-type:not(small) {
  font-size: 125%;
  margin-bottom: 0.8125rem;
}
article footer p {
  font-size: 75% !important;
  color: rgba(150, 150, 160, 0.25) !important;
  margin-top: 1.5rem;
}
article.hero {
  padding: 0;
  background-size: cover !important;
}
  article.hero * {
    color: white;
  }
    article.hero p:first-of-type {
      font-size: 100%;
    }
    article.hero .row {
      display: flex;
      align-self: flex-end;
    }
      article.hero.dominant .row {
        align-self: center;
      }
    article.hero .color-overlay {
      background: rgba(240, 0, 47, 1);
      min-height: 85vh;
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: row;
    }
      article.hero.dominant .color-overlay {
        min-height: 100vh;
      }