/* ARTICLES */
article header {

}
article p:first-of-type:not(small) {
  font-size: 125%;
}
article footer p {
  font-size: 75% !important;
  color: rgba(150, 150, 160, 0.25) !important;
  margin-top: 1.5rem;
}
article.hero {
  padding: 0;
}
  article.hero * {
    color: white;
  }
    article.hero p:first-of-type {
      font-size: 100%;
    }
    article.hero .row {
      display: flex;
      align-self: flex-end;
    }
      article.hero.dominant .row {
        align-self: center;
      }
    article.hero .color-overlay {
      background-image: linear-gradient(top left, rgba(143, 8, 41, 0.5), rgba(217, 4, 41, 0.5));
      min-height: 75vh;
      width: 100%;
      padding: 4em 0;
      display: flex;
      background-size: cover !important;
    }
      article.hero.dominant .color-overlay {
        min-height: 100vh;
      }
