/* ARTICLES */
article header {

}
article p:first-of-type:not(small) {
  font-size: 125%;
}
article footer p {
  font-size: 75% !important;
  color: rgba(150, 150, 160, 0.25) !important;
  margin-top: 1.5rem;
}
aside {
  margin-left: 8.33333334% !important;
  display: block;
  position: absolute;
  left: -0%;
  width: 16.666%;
  float: left !important;
}
  aside p {
    font-size: 75%;
    padding-top: 0.5em;
    text-align: right;
  }
article.hero {
  min-height: 75vh;
  width: 100%;
  padding: 4em 0;
  display: flex;
  background-size: cover !important;
}
  article.hero * {
    color: white;
  }
    article.hero .row {
      display: flex;
      align-self: flex-end;
    }
      article.hero.dominant {
        min-height: 100vh;
      }
      article.hero.dominant .row {
        align-self: center;
      }
