/* BUTTONS */
button, a.button, input[type="submit"] {
  display: inline-block;
  padding: 0.625em 2em;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 75%;
  line-height: 1.75;
  letter-spacing: 0.0625em;
  background: rgb(0, 157, 220);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
  transition: all ease-in-out 0.2s;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 0.15rem;
}
  button::before, a.button::before, input[type="submit"]::before {
    height: 0;
    display: none;
  }
  button:hover, a.button:hover, input[type="submit"]:hover {
    background: rgb(76, 186, 230);
    box-shadow: 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
  }
  button:focus, a.button:focus, input[type="submit"]:focus {
    background: rgb(0, 108, 202);
    box-shadow: inset 0 0.125em 0.25em rgba(0, 0, 0, 0.25);
  }
    button.small, a.button.small, input[type="submit"].small {
      font-size: 62.5%;
    }
    button.large, a.button.large, input[type="submit"].large {
      font-size: 100%;
    }
.button-group * {
  float: left;
  border-radius: 0 !important;
  border-left: 1px solid rgba(0, 0, 0, 0.25) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.25) !important;
  transition: all ease-in-out 0.2s;
}
.button-group > :first-of-type {
  border-top-left-radius: 0.15rem !important;
  border-bottom-left-radius: 0.15rem !important;
  border-left: 1px solid rgba(0, 0, 0, 0) !important;
  border-right: 1px solid rgba(255, 255, 255, 0.25) !important;
}
.button-group > :last-of-type {
  border-top-right-radius: 0.15rem !important;
  border-bottom-right-radius: 0.15rem !important;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(255, 255, 255, 0) !important;
}
  .button-group *:hover {
    border-left: 1px solid rgba(0, 0, 0, 0.25) !important;
    border-right: 1px solid rgba(255, 255, 255, 0.25) !important;
  }
    .button-group > :first-of-type:hover {
      border-left: 1px solid rgba(0, 0, 0, 0) !important;
      border-right: 1px solid rgba(255, 255, 255, 0.25) !important;
    }
  .button-group *:focus, .button-group *:active {
    border-left: 1px solid rgba(0, 0, 0, 0) !important;
    border-right: 1px solid rgba(0, 0, 0, 0.25) !important;
  }
    .button-group > :first-of-type:focus, .button-group > :first-of-type:active {
      border-left: 1px solid rgba(0, 0, 0, 0) !important;
      border-right: 1px solid rgba(0, 0, 0, 0.25) !important;
    }



button.red, a.button.red, input[type="submit"].red {
  background: rgb(192, 29, 43);
}
  button.red:hover, a.button.red:hover, input[type="submit"].red:hover {
    background: rgb(211, 96, 106);
  }
  button.red:focus, a.button.red:focus, input[type="submit"].red:focus {
    background: rgb(160, 14, 21);
  }

button.slate, a.button.slate, input[type="submit"].slate {
  background: rgb(48, 48, 64);
}
  button.slate:hover, a.button.slate:hover, input[type="submit"].slate:hover {
    background: rgb(109, 109, 121);
  }
  button.slate:focus, a.button.slate:focus, input[type="submit"].slate:focus {
    background: rgb(24, 24, 32);
  }

button.grey, a.button.grey, input[type="submit"].grey {
  background: rgb(103, 115, 132);
}
  button.grey:hover, a.button.grey:hover, input[type="submit"].grey:hover {
    background: rgb(148, 156, 168);
  }
  button.grey:focus, a.button.grey:focus, input[type="submit"].grey:focus {
    background: rgb(51, 57, 70);
  }

button.midnight, a.button.midnight, input[type="submit"].midnight {
  background: rgb(36, 22, 35);
}
  button.midnight:hover, a.button.midnight:hover, input[type="submit"].midnight:hover {
    background: rgb(101, 91, 100);
  }
  button.midnight:focus, a.button.midnight:focus, input[type="submit"].midnight:focus {
    background: rgb(18, 11, 17);
  }