/* FORMS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  width: 100%;
  height: 2.5rem;
  margin-bottom: 2rem;
  padding: 2.25em 0 1em; /* The 6px vertically centers text on FF, ignored by Webkit */
  border-bottom: 2px solid rgba(148, 156, 168, 0.25);
  transition: border-bottom ease-in-out 0.2s;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
  .field-container.half {
    width: 100%;
    display: block;
    margin-left: 0;
  }
    @media screen and (min-width: 800px) {
      .field-container.half {
        width: calc(50% - 1vw);
        float: left;
      }
      .field-container.half:nth-of-type(even) {
        margin-left: 2vw;
      }
    }

textarea {
  min-height: 10rem !important;
  padding-top: 1em;
  padding-bottom: 1em; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border-bottom: 2px solid rgb(217, 4, 41);
  outline: 0; }
label,
legend {
  color: rgb(34, 34, 34);
  display: block;
  margin-bottom: 0;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }
::-webkit-input-placeholder { color: rgba(170, 170, 170, 0.375); font-style: italic; font-size: 75%; padding-top: 0.25rem; }
:-moz-placeholder { color: rgba(170, 170, 170, 0.375); font-style: italic; font-size: 75%; padding-top: 0.25rem; }
::-moz-placeholder { color: rgba(170, 170, 170, 0.375); font-style: italic; font-size: 75%; padding-top: 0.25rem; }
:-ms-input-placeholder { color: rgba(170, 170, 170, 0.375); font-style: italic; font-size: 75%; padding-top: 0.25rem; }