:root {
  --gridpadding: 0.375em;
  --boxpadding: 1.5em;
}
main {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1;
}
.row, .row-full {
  padding: 0 calc(var(--gridpadding) / 2);
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0 auto;
}
  @media screen and (min-width: 800px) {
    .row { width: 81.3%; }
  }
[class*='w--'] {
  flex: 1 0 calc(100% - var(--gridpadding));
  margin: 0 calc(var(--gridpadding) / 2) var(--gridpadding);
}
.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 !important;
  margin: 0 !important;
}



@media screen and (min-width: 800px) {
  .w--1of6 { flex: 1 0 calc(33.3333% - var(--gridpadding));     }
  .w--1of5 { flex: 1 0 calc(33.3333% - var(--gridpadding));     }
  .w--1of4 { flex: 1 0 calc(50% - var(--gridpadding));          }
  .w--1of3 { flex: 1 0 calc(50% - var(--gridpadding));          }
  .w--2of5 { flex: 1 0 calc(50% - var(--gridpadding));          }
  .w--1of2 { flex: 1 0 calc(100% - var(--gridpadding));         }
  .w--3of5 { flex: 1 0 calc(66.6666% - var(--gridpadding));     }
  .w--2of3 { flex: 1 0 calc(100% - var(--gridpadding));         }
  .w--3of4 { flex: 1 0 calc(100% - var(--gridpadding));         }
  .w--4of5 { flex: 1 0 calc(100% - var(--gridpadding));         }
  .w--5of6 { flex: 1 0 calc(100% - var(--gridpadding));         }
}



@media screen and (min-width: 1200px) {
  .w--1of6 { flex: 1 0 calc(16.6666% - var(--gridpadding)); }
  .w--1of5 { flex: 1 0 calc(20% - var(--gridpadding));      }
  .w--1of4 { flex: 1 0 calc(25% - var(--gridpadding));      }
  .w--1of3 { flex: 1 0 calc(33.3333% - var(--gridpadding)); }
  .w--2of5 { flex: 1 0 calc(40% - var(--gridpadding));      }
  .w--1of2 { flex: 1 0 calc(50% - var(--gridpadding));      }
  .w--3of5 { flex: 1 0 calc(60% - var(--gridpadding));      }
  .w--2of3 { flex: 1 0 calc(66.6666% - var(--gridpadding)); }
  .w--3of4 { flex: 1 0 calc(75% - var(--gridpadding));      }
  .w--4of5 { flex: 1 0 calc(80% - var(--gridpadding));      }
  .w--5of6 { flex: 1 0 calc(83.3333% - var(--gridpadding)); }
}



@media screen and (min-width: 1600px) {
  .w--1of6 { flex: 1 0 calc(16.6666% - var(--gridpadding)); }
  .w--1of5 { flex: 1 0 calc(20% - var(--gridpadding));      }
  .w--1of4 { flex: 1 0 calc(25% - var(--gridpadding));      }
  .w--1of3 { flex: 1 0 calc(33.3333% - var(--gridpadding)); }
  .w--2of5 { flex: 1 0 calc(40% - var(--gridpadding));      }
  .w--1of2 { flex: 1 0 calc(50% - var(--gridpadding));      }
  .w--3of5 { flex: 1 0 calc(60% - var(--gridpadding));      }
  .w--2of3 { flex: 1 0 calc(66.6666% - var(--gridpadding)); }
  .w--3of4 { flex: 1 0 calc(75% - var(--gridpadding));      }
  .w--4of5 { flex: 1 0 calc(80% - var(--gridpadding));      }
  .w--5of6 { flex: 1 0 calc(83.3333% - var(--gridpadding)); }
}



/* OFFSETS */
[class*='o--'] { margin-left: inherit; }
  @media screen and (min-width: 1200px) {
    .o--2of3 { margin-left: calc(66.6666% + calc(var(--gridpadding) / 2)); }
    .o--3of4 { margin-left: calc(75% + calc(var(--gridpadding) / 2));      }
    .o--1of2 { margin-left: calc(50% + calc(var(--gridpadding) / 2));      }
    .o--2of5 { margin-left: calc(40% + calc(var(--gridpadding) / 2));      }
    .o--1of3 { margin-left: calc(33.3333% + calc(var(--gridpadding) / 2)); }
    .o--1of4 { margin-left: calc(25% + calc(var(--gridpadding) / 2));      }
    .o--1of5 { margin-left: calc(20% + calc(var(--gridpadding) / 2));      }
    .o--1of6 { margin-left: calc(16.6666% + calc(var(--gridpadding) / 2)); }
  }



/* UTILITIES */
.hide { display: none; visibility: hidden; }
  @media screen and (min-width: 1200px) {
    .hide { display: flex; visibility: visible; }
  }
.hide-large { display: inherit; visibility: visible; }
  @media screen and (min-width: 1200px) {
    .hide-large { display: none; visibility: hidden; }
  }



.no-pad        { padding: 0 !important;         }
.pinned        { flex-grow: 0 !important;       }
.blimped       { flex-grow: 1 !important;       }



/*This is just for the demo*/
.grid [class*='w--'] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  background: color(var(--black) tint(90%));
  text-align: center;
  padding: calc(var(--gridpadding) / 2) 0;
}
  .grid [class*='w--'] * {
    margin-bottom: 0;
  }
