.menu-icon-wrapper {
  width: 1em;
  height: 1em;
}
.menu-icon {
  width: 1em;
  height: 2px;
  background: black;
  display: block;
}
  .menu-icon::before, .menu-icon::after {
    width: 1em;
    height: 2px;
    background: black;
    display: block;
    content: '';
    position: relative;
  }
  .menu-icon::before {
    top: -0.25em;
  }
  .menu-icon::after {
    top: calc(0.25em - 2px);
  }
  main.work .menu-icon-wrapper > .menu-icon, .menu-icon::before, .menu-icon::after {
    background: white !important;
  }