nav {
  /* position: -webkit-sticky;
  position: sticky;
  top: 0; */
  
}
  nav a {
    display: inline-block;
    font-weight: 500;
    border-bottom: none !important;
    margin-right: 1em;
  }



.fade {
  background: var(--red) !important;
  transition: background 0.4s ease-in-out;
}
