.hero-nav {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 35em;
  max-height: 75vw;
  min-height: 5.5em;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
  z-index: 1000;
}
.hero-nav .hero-nav__inner {
  z-index: 1000;
}
.hero-nav:before {
  content: "";
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: background 0.4s ease-in-out;
}
.hero-nav.fixme:before {
  background: rgb(255, 255, 255);
}



.heads-up {
  transform: translateY(-6rem);
  transform: translate3d(0, -6rem, 0);
}



nav {
  display: inline-block;
  text-align: right !important;
  float: right;
}
  nav a {
    margin-left: 1em;
    color: var(--black) !important;
  }