/* Let's add some color variables here, something for each individual project to use. */
/* We should also move any other portfolio-related styles to this file. Check 'sections.css', 'articles.css', and 'typography.css' for any references. */
/*
main.ready {
	background: red;
}
  main.ready * {
    color: blue;
  }
    main.ready .highlight h1,
    main.ready .highlight h2,
    main.ready .highlight h3,
    main.ready .highlight h4,
    main.ready .highlight h5,
    main.ready .highlight h6 {
      color: green;
    }
    */