/* Let's add some color variables here, something for each individual project to use. */
/* We should also move any other portfolio-related styles to this file. Check 'sections.css', 'articles.css', and 'typography.css' for any references. */
/*
main.koffee {
	background: rgb(169, 124, 80);
}
  main.koffee * {
    color: rgb(96, 57, 19);
  }
    main.koffee .highlight h1,
    main.koffee .highlight h2,
    main.koffee .highlight h3,
    main.koffee .highlight h4,
    main.koffee .highlight h5,
    main.koffee .highlight h6 {
      color: green;
    }
    */