/* TAP!!! */
button.tap {
  width: 3em;
  height: 3em;
  border-radius: 1.5em;
  background: none;
  border: 0.1875em dotted var(--white);
  color: var(--white);
  position: absolute;
  z-index: 50;
  top: 1.5em;
  right: 1.5em;
  display: block;
  text-align: center !important;
  padding: 0 0 0.25em;
  opacity: 0.5;
}



.portfolio-item {
  height: 17.5em;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
  @media screen and (min-width: 800px) {
    .portfolio-item {
      height: 50vw;
    }
  }
  @media screen and (min-width: 799px) {
    .portfolio-item {
      height: 33.3333vw;
    }
  }

  .portfolio-item figcaption {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: var(--boxpadding);
    position: relative;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
  }
    .portfolio-item figcaption:hover {
      opacity: 1;
    }



img[class] {
  width: 100%;
}
.object-fit_cover {
  object-fit: cover;
}



/* Modals */
