figure.portfolio-item {
  position: relative;
  display: block;
  width: 100%;
  height: 56.25%;
  overflow: hidden;
}
  figure.portfolio-item figcaption {
    background-color: rgba(0, 0, 0, 1);
    color: var(--white);
  }
  figure.portfolio-item figcaption h6 {
    color: var(--white);
  }
  figure.portfolio-item figcaption p {
    color: color(var(--white) alpha(75%));
  }
    figure.portfolio-item:hover figcaption {
      background-color: var(--red);
    }
  figure.portfolio-item figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1.5em;
    background: var(--red);
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.15s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
  }
    figure.portfolio-item:hover figcaption {
      opacity: 1;
    }
  .brand-image {
    background-size: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    display: block;
  }
    .slide-hide {
      background: color(var(--black) shade(25%) alpha(65%));
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
    }
    .brand-logo {
      max-width: 10em !important;
      max-height: 7.5em !important;
      width: 100%;
      margin: auto;
    }
    a.view-project {
      display: inline-block;
      color: var(--white) !important;
      border-bottom-color: var(--white);
    }
      @media screen and (min-width: 1200px) {
        a.view-project {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          text-indent: -9999px;
          border-bottom: none !important;
        }
      }
      .loose-logo {
        max-width: 6.6666em !important;
        max-height: 5em !important;
        width: 100%;
        margin: auto;
      }



  /* TAP!!! */
  button.tap {
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    background: none;
    border: 0.1875em dotted var(--white);
    color: var(--white);
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    display: block;
    text-align: center !important;
    padding: 0 0 0.25em;
    opacity: 0.5;
  }




  /* colours */
  .panel {
    min-height: 100vh !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6.5em 0 5em;
  }
    .panel * {
      color: var(--white) !important;
    }
.color-white {
  background-color: var(--white);
}
.color-dope {
  background-color: #8DC63F;
}
.color-aggam {
  background-color: #556B2F;
}
.color-c4sauce {
  background-color: #FF4500;
}
.color-jrs86 {
  background-color: var(--red);
}



.FlexEmbed--16to9 {
  display: block;
  overflow: hidden;
  position: relative;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--red);
}
.FlexEmbed--16to9:before {
  content: "";
  display: block;
  padding-bottom: 56.25%;
  width: 100%;
}



img[class] {
  width: 100%;
}
.object-fit_cover {
  -o-object-fit: cover;
     object-fit: cover;
}



.fader {
  position: relative;
  width: 100%;
  padding-bottom: calc(33.3333% + var(--gridpadding));
  overflow: hidden;
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.fader .fader-dots {
  position: absolute;
  bottom: 0;
  right: 1.5em;
  z-index: 3000;
}
.fader .fader-dots li {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background: var(--red);
  margin-left: 0.25em;
  border-radius: 50%;
  cursor: pointer;
}
.fader .fader-dots li.active {
  background: var(--black);
}
.fader .item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  visibility: hidden;
  transition-property: visibility;
}
.fader .item.active {
  visibility: visible;
}


.spaced {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
  .spaced div {
    max-width: 50%;
  }
  .spaced :not(:last-child) {
    margin-bottom: var(--gridpadding);
  }
  @media screen and (min-width: 1200px) {
    .spaced {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .spaced div {
      max-width: 100%;
    }
      .spaced div::before {
        padding-bottom: calc(56.25% - var(--gridpadding)/4)
      }
  }
