#scene {
  display: block;
  margin: auto;
}

#filters {
  position: absolute;
}

.ground {
  -webkit-filter: url("#ground");
          filter: url("#ground");
}

.top {
  -webkit-filter: url("#ground");
          filter: url("#ground");
}

.tree {
  -webkit-filter: url("#tree");
          filter: url("#tree");
}

.background {
  opacity: .3;
}