/* HEADER */
main {
  background: var(--white);
}
  header {
    height: calc(100vh - 3.375em);
    background: url('../img/header-bg.jpg') center center no-repeat;
    background-size: cover;
    padding: 5vw 0;
  }
  header * {
    color: var(--white);
  }
  header h4 {
    margin-top: 0;
  }



/* MAIN and SECTION */
section {
  padding: 0 0 10vw;
}
  .portfolio-item {
    background-size: cover !important;
    min-height: 20em;
    max-height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
  }
    .portfolio-item {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    @media screen and (min-width: 800px) {
      .portfolio .w--1of2 { flex: 1 0 calc(50% - 1em);         }
    }
    @media screen and (min-width: 1200px) {
      .portfolio-item {
        min-height: calc(40vw - 5em);
        max-height: calc(40vw - 5em);
        height: calc(40vw - 5em);
      }
    }
    .portfolio-item {
      background: color(var(--black) tint(95%));
      padding: 2em;
    }

    @media screen and (min-width: 800px) and (max-width: 1199px) {
      .portfolio-nav {
        flex: 1 0 calc(100% - 1em);
      }
    }



@media screen and (max-width: 799px) {
  .list {
    flex: 1 0 calc(50% - 1em) !important;
  }
}



/* FOOTER */
footer {
  letter-spacing: 0.125em;
  font-variant: small-caps;
  color: var(--black);
}
  footer [class*='w--'] {
    border-top: 3px solid var(--black);
    padding-top: 0.5em;
    display: flex;
    flex: 1 0 calc(100% - 1em);
    flex-direction: row;
    justify-content: space-between;
  }
    footer [class*='w--'] * {
      align-self: center;
      margin-bottom: 0;
    }



/* LOGO */
svg.main-logo {
  height: 1.5em;
  display: inline-block;
}
  svg.main-logo use {
    fill: var(--black);
  }
svg path {
  fill: inherit;
}
