/* HEADER */
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: calc(8.13 * var(--gridpadding));
  }




/* MAIN and SECTION */
main {
  padding: calc(8.13 * var(--gridpadding)) 0 0;
  background-color: color(var(--black) shade(81.3%));
  transition: background-color 0.5s ease;
  min-height: 100%;
}
section {
  padding-bottom: calc(8.13 * var(--gridpadding));
}



.resume {
  display: inline-block;
}
  .resume::after {
    content: '.PDF';
    color: color(var(--black) tint(81.3%));
  }



/* Articles */
article header {
  margin-bottom: 5.3125em;
}



/* FOOTER */
footer {
  padding-bottom: calc(8.13 * var(--gridpadding));
  /*background-image: url('../img/profile-bg.jpg');*/
  background-size: cover;
}
  .footer-overlay {
    display: block;
    width: 100%;
    height: 100%;
    background-color: color(var(--black) tint(75%) alpha(75%));
    position: relative;
    top: 0;
    left: 0;
  }



@media screen and (max-width: 1199px) {
  header [class*='w--'], footer [class*='w--'] {
    flex: 1 0 calc(100% - var(--gridpadding));
  }
}


[class*='-btn'] {
  cursor: pointer;
  border: none;
  outline: none;
}
  .activity-btn, .activity-btn::before {
    color: color(var(--black) tint(75%));
  }
  .activity-btn::before {
    content: '\00a0+\00a0';
  }
