/* HEADER */
main {
  position: relative;
  z-index: 2;
  background: var(--white);
}
  header {
    position: relative;
    -webkit-transform-style: inherit;
    transform-style: inherit;
    height: 100vh;
    z-index: 0;
  }
    header, header:before {
      background: 50% 50% / cover;
    }
    header::before {
      bottom: 0;
      content: '';
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    	display: block;
    	background-color: var(--red);
      background-image: url('../img/header-bg.jpg');
      background-size: cover;
      -webkit-transform-origin: center center 0;
      -webkit-transform: translateZ(-1px) scale(2);
      transform-origin: center center 0;
      transform: translateZ(-1px) scale(2);
      z-index: -1;
      min-height: 100vh;
    }



/* MAIN and SECTION */
section {
  padding: 4em 0;
}
  @media screen and (min-width: 800px) {
    section {
      padding: 20vw 0;
    }
  }
  .portfolio-item {
    background-size: cover !important;
    min-height: 20em;
    max-height: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: flex-end;
    align-items: flex-start;
  }
    .portfolio-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      .portfolio-item {
        min-height: calc(40vw - 5em);
        max-height: calc(40vw - 5em);
        height: calc(40vw - 5em);
      }
    }
    .portfolio-item {
      background: color(var(--black) tint(95%));
      padding: 2em;
    }
    @media screen and (min-width: 800px) and (max-width: 1199px) {
      .portfolio-nav {
        flex: 1 0 calc(100% - 1em);
      }
    }



@media screen and (max-width: 799px) {
  .list {
    flex: 1 0 calc(50% - 1em) !important;
  }
}



/* FOOTER */
footer {
  letter-spacing: 0.125em;
  font-variant: small-caps;
  color: var(--black);
}
  footer [class*='w--'] {
    border-top: 3px solid var(--black);
    padding-top: 0.5em;
    display: flex;
    flex: 1 0 calc(100% - 1em);
    flex-direction: row;
    justify-content: space-between;
  }
    footer [class*='w--'] * {
      align-self: center;
      margin-bottom: 0;
    }
    .to-top {
      color: var(--white) !important;
      position: relative;
      z-index: 1;
      margin-left: 1.5em;
      padding-right: 0.125em;
    }
      .to-top::before {
        width: 1em;
        height: 3em;
        top: -1em;
        right: 0;
        background: var(--black);
        display: inline-block;
        content: '';
        position: absolute;
        z-index: -1;
      }


/* LOGO */
svg.main-logo {
  height: 1.5rem;
  display: inline-block;
}
  svg.main-logo use {
    fill: var(--black);
  }
svg path {
  fill: inherit;
}
