.c {
      position: relative;
      margin: 0 auto;
    }
    .c-list-container {
      overflow: hidden;
      position: relative;
      z-index: 0;
    }
    .c-list {
      width: 99999em;
      position: relative;
      opacity: 1;
    }
    .c-list.animating {
      -webkit-transition: left 0.25s ease-out; 
        -moz-transition: left 0.25s ease-out;  
          -o-transition: left 0.25s ease-out; 
          transition: left 0.25s ease-out;
    }
    .c ul {
      list-style: none;
    }
    .c li {
      float: left;
      position: relative;
    }
    .c li a {
      display: block;
    }
      .c li a::before, .c-nav a::before {
        display: none;
      }
    .c img {
      display: block;
    }
    .c h2 {
      margin-top: 0;
    }
    .c-nav {
      clear: both;
      overflow: hidden;
    }
    .c-nav a {
      position: absolute;
      top: 50%;
      left: 8vw;
      width: 4em;
      height: 2em;
      padding: 0;
      color: rgb(243, 243, 245);
      -webkit-transition: opacity 0.5s ease-out; 
        -moz-transition: opacity 0.5s ease-out;  
          -o-transition: opacity 0.5s ease-out; 
          transition: opacity 0.5s ease-out;
    }
    .c-nav a.next {
      left: auto;
        right: 8vw;
        border: 0;
    }
    .c-nav a.inactive {
      opacity: 0.2;
      
    }
    
    /*Large with room to spare on either side */
    @media screen and (min-width: 56em) {
      .c-nav a {
        position: absolute;
        top: 50%;
        left: 8vw;
        width: 4em;
        height: 2em;
        padding: 0;
        color: rgb(243, 243, 245);
      }
      .c-nav a.next {
        left: auto;
        right: 8vw;
        border: 0;
      }
    }