/* COLORS */
:root {
  --red: rgb(202, 40, 27);
  --brown: rgb(66, 47, 45);
  --black: rgb(51, 48, 48);
  --white: rgb(255, 255, 255);
}

body{
  animation: fadein 0.25s ease-out;
  animation-delay: 0.5s;
  opacity: 0;
  animation-fill-mode: forwards;
}
  @keyframes fadein {
    from { opacity: 0; }
    to { opacity: 1; }
  }



.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading h4,
.wf-loading h5,
.wf-loading h6,
.wf-loading p,
.wf-loading small,
.wf-loading strong,
.wf-loading em,
.wf-loading a,
.wf-loading nav,
.wf-loading use {
  visibility: hidden !important;
  opacity: 0 !important;
  transition: opacity ease-in-out 0.5s !important;
}
.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active small,
.wf-active strong,
.wf-active em,
.wf-active a,
.wf-active nav,
.wf-active use
.wf-inactive h1,
.wf-inactive h2,
.wf-inactive h3,
.wf-inactive h4,
.wf-inactive h5,
.wf-inactive h6,
.wf-inactive p,
.wf-inactive small,
.wf-inactive strong,
.wf-inactive em,
.wf-inactive a,
.wf-inactive nav,
.wf-inactive use {
  opacity: 1 !important;
  transition: opacity ease-in-out 0.5s !important;
}



/* TYPOGRAPHY */
/*:root { font-size: 12px; line-height: 20px; }
@media (min-width: 400px) and (max-width: 1199px){
  :root {
    font-size: calc( 12px + (20 - 12) * ( (100vw - 400px) / ( 1200 - 400) ));
  }
}
@media (min-width: 1200px){
  :root {
    font-size: 18px;
  }
}
@media (min-width: 1600px) {
  :root {
    font-size: 24px;
  }
}*/


:root {
  font-size: 0.8125em;
}
@media (min-width: 40.625em) {
  :root {
    font-size: 2vw;
  }
}
@media (min-width: 56.25em) {
  :root {
    font-size: 1.125em;
  }
}



html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow: hidden;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html, body {
  font-family: 'acumin-pro', sans-serif;
  color: color(var(--black) tint(25%));
  letter-spacing: 0.0125rem;
  background: color(var(--black) tint(95%));
  font-weight: 300;
}
body {
  height: 100%;
  line-height: 1.5;
}
/*h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
  font-weight: 500;
  line-height: 1.25;
  color: var(--black);
}
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    line-height: 1.25 !important;
  }
  .section-title {
    color: var(--red);
  }
h1 {
  font-size: 300%;
  margin-top: 5.4em;
}
h2 {
  font-family: 'acumin-pro-wide', sans-serif;
  font-size: 250%;
  margin-top: 4.5em;
}
h3 {
  font-size: 225%;
  margin-top: 4.05em;
}
h4 {
  font-family: 'acumin-pro-wide', sans-serif;
  font-size: 175%;
  margin-top: 3.15em;
}
h5 {
  font-size: 125%;
  margin-top: 2.25em;
}
h6 {
  font-size: 100%;
  margin-top: 1.8em;
  text-transform: uppercase;
}*/



h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 0;
  color: var(--black);
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.25em;
  line-height: 1.333333333;
  margin-bottom: 0.666666666em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: .9em;
}
h4 {
  font-size: 1.25em;
  line-height: 1;
  margin-bottom: 1em;
}
h5 {
  font-size: 1.125em;
  line-height: 1.333333333;
  margin-bottom: 0.6666666666em;
}
h6 {
  font-size: 1.0625em;
  line-height: 1;
  margin-bottom: .9em;
}
p, ul, ol, dl, blockquote, pre {
  font-size: 1em;
  margin-bottom: 1.5em;
}
@media screen and (min-width: 1200px) {
  [class*='candy-columns--'] {
    column-fill: balance;
    column-gap: 1.5em;
    break-inside: avoid;
    margin-bottom: 0;
  }
    [class*='candy-columns--'] p {
      margin-bottom: 0;
    }
    [class*='candy-columns--'] p+p {
      text-indent: 1.5em;
    }
    [class*='candy-columns--'] h1,
    [class*='candy-columns--'] h2,
    [class*='candy-columns--'] h3,
    [class*='candy-columns--'] h4,
    [class*='candy-columns--'] h5,
    [class*='candy-columns--'] h6 {
      column-span: all;
    }
    .candy-columns--2 {
      column-count: 2;
    }
    .candy-columns--3 {
      column-count: 3;
    }
}
pre, code {
  font-family: "inconsolata", monospace;
  background: color(var(--black) tint(90%));
  border-radius: 0.125rem;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}
  pre {
    padding: 1em 0.5rem;
    margin: 1.25rem 0 !important;
    display: block;
    text-align: left;
  }
  code {
    padding: 0 0.5rem !important;
    margin-bottom: 0 !important;
  }
    pre > code {
      background: none;
    }
em { font-style: italic; }
strong {
  font-weight: 500;
}
small {  }
sup, sub {
  font-size: 60%;
  letter-spacing: 0.05rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
  sup {
    position: relative;
    top: -0.3rem;
    left: 0;
  }
a:link, a:visited {
  color: var(--black);
  transition: all ease-in-out 0.15s !important;
  text-decoration: none;
  border-bottom: 1px solid color(var(--black) alpha(25%));
}
  a:hover, a:focus, a:active {
    color: color(var(--black) tint(50%));
    border-bottom: 1px solid color(var(--black) alpha(0%));
  }
hr {
  border: 0;
  height: 3px;
  background: var(--black);
  margin: 0;
  width: 100%;
}
kbd {
  padding: 0.125rem 0.5rem 0.25rem 0.5rem;
  border: 1px solid rgb(148, 156, 168);
  border-radius: 0.25rem;
  box-shadow: inset 0 -2px 0px 2px rgba(0, 0, 0, 0.25);
}



/* QUOTES */
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  font-family: Georgia, serif;
  font-size: 1.25em;
  font-style: italic;
}
blockquote:before {
  color: color(var(--black) tint(95%));
  content: open-quote;
  font-size: 36em;
  float: left;
  line-height: 0.1em;
  margin-top: 0.125em;
  font-family: Georgia, serif;
  font-style: italic;
  position: absolute;
  right: 50%;
  z-index: -1;
}
blockquote p, blockquote cite {
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}



/* LISTS */
ul {
  list-style: none inside;
}
ol {
  list-style: none inside;
  list-style-type: decimal-leading-zero;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.75rem 0 1.75rem 3rem;
  font-size: 90%;
}
  li {
    -webkit-column-break-inside: avoid;
            page-break-inside: avoid;
                 break-inside: avoid;
  }
  ol li {
    text-decoration: underline;
      padding-bottom: 0.5rem;
  }



/* TABLES */
table {
  width: 100%;
}
  th {
    color: var(--black);
  }
  th, td {
    padding: 1em;
    text-align: left;
    border-bottom: 1px solid color(var(--black) tint(75%));
  }
    th:first-child, td:first-child {
      padding-left: 0;
    }
    th:last-child, td:last-child {
      padding-right: 0;
    }



/* UTILITIES */
.lightened { color: color(var(--white) alpha(25%)); }
.text-center { text-align: center !important; }
.text-right { text-align: right !important; }
.topless { margin-top: 0 !important; }
.bottomless { margin-bottom: 0 !important; }



/* ICONS */
[class*="icono"] {
  position: relative;
  display: inline-block;
  color: var(--white);
  box-sizing: border-box;
}
[class*="icono"]:after,
[class*="icono"]:before {
  content: "";
  box-sizing: border-box;
}
[class*="icono-arrow1"] {
  width: 0.5em;
  height: 0.5em;
  border-width: 0.15em 0.15em 0 0;
  border-style: solid;
  margin-left: 2em;
  transition: margin-left 0.15s ease-in-out;
}
@media screen and (min-width: 1200px) {
  .portfolio-link:hover [class*="icono-arrow1"] {
    margin-left: 3em;
  }
}

[class*="icono-arrow1"][class*="-left"] {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
[class*="icono-arrow1"][class*="-right"] {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
          right: 1em;
}
