/* TYPOGRAPHY */
:root { font-size: 12px; line-height: 18px; }
@media (min-width: 400px) and (max-width: 1199px){
  :root { 
    font-size: calc( 12px + (20 - 12) * ( (100vw - 400px) / ( 1200 - 400) ));
  }
}
@media (min-width: 1200px){
  :root { 
    font-size: 20px;
  }
}
@media (min-width: 1600px) {
  :root {
    font-size: 24px;
  }
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html, body {
  font-family: 'neuzeit-grotesk', sans-serif;
  color: rgb(119, 119, 119);
  letter-spacing: 0.025rem;
  background: rgb(243, 243, 245);
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.8125rem;
  font-weight: 700;
  line-height: 1.25;
  color: rgb(34, 34, 34);
}
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    line-height: 1.25 !important;
  }
h1 {
  font-size: 300%;
}
h2 {
  font-size: 250%;
}
h3 {
  font-size: 225%;
}
h4 {
  font-size: 175%;
}
h5 {
  font-size: 125%;
}
h6, h6 > a {
  font-size: 100%;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-weight: 700 !important;
}
p, ul, ol, dl, blockquote {
  font-weight: 300;
}
p, ul, ol, dl, blockquote, strong, pre, code {
  margin-bottom: 0.8125em;
  line-height: 1.625;
}
pre, code {
  font-family: "source-code-pro", sans-serif;
  background: rgba(170, 170, 170, 0.125);
  border-radius: 0.125rem;
  overflow-wrap: break-word !important;
  word-wrap: break-word !important;
}
  pre {
    padding: 1em 0.5rem;
    margin: 1.25rem 0 !important;
    display: block;
    text-align: left;
  }
  code {
    padding: 0 0.5rem !important;
    margin-bottom: 0 !important;
  }
    pre > code {
      background: none;
    }
em { font-style: italic; }
strong { font-weight: 700; }
small { font-weight: 300; }
a:link, a:visited {
  color: rgb(34, 34, 34);
  font-weight: bold;
  position: relative;
  z-index: 100;
  line-height: 1.75;
  transition: color ease-in-out 0.15s;
}
  a:hover, a:focus, a:active {
    color: rgb(217, 4, 41);
  }
  a:link::before, a:visited::before {
    content: '';
    height: 0.15em;
    width: 0%;
    display: inline-block;
    background: rgb(217, 4, 41);
    position: absolute;
    top: 1.25em;
    transition: all ease-in-out 0.15s;
    opacity: 0;
    white-space: nowrap;
  } 
    a:not(.button):hover::before, a:not(.button):focus::before, a:not(.button):active::before {
      width: 100%;
      opacity: 1;
    }
h1 > a::after, h2 > a::after, h3 > a::after, h4 > a::after, h5 > a::after, h6 > a::after {
  position: absolute;
  right: -1em;
  margin-top: -0.25em;
  width: 0.5em;
  height: 0.5em;
  display: block;
  background: url('../img/link.svg') no-repeat;
  background-size: 100% 100%;
  content: '';
  top: 50%;
}
hr {
  border: 0;
  height: 1px;
  background: #DDD;
  margin: 0;
  width: 100%;
}
img {
  width: 100%;
}
kbd {
  padding: 0.125rem 0.5rem 0.25rem 0.5rem;
  border: 1px solid rgb(148, 156, 168);
  border-radius: 0.25rem;
  box-shadow: inset 0 -2px 0px 2px rgba(0, 0, 0, 0.25);
}



/* QUOTES */
blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  font-family: 'utopia-std-caption', serif !important;
  font-size: 1.25em;
  font-weight: 600;
  font-style: italic;
}
blockquote:before {
  color: rgba(34, 34, 34, 0.05);
  content: open-quote;
  font-size: 36em;
  float: left;
  line-height: 0.1em;
  margin-top: 0.125em;
  font-family: Georgia, serif;
  font-style: italic;
  position: absolute;
  right: 50%;
  z-index: -1;
}
blockquote p, blockquote cite {
  display: block;
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}



/* LISTS */
ul {
  list-style: circle inside;
}
ol {
  list-style: none;
  list-style-type: upper-roman;
}
ol, ul {
  padding-left: 0;
  margin-top: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.75rem 0 1.75rem 3rem;
  font-size: 90%;
} 
li {
  padding-bottom: 0.5rem;
  -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}



/* TABLES */
table {
  width: 100%;
}
th {
  color: rgb(34, 34, 34);
}
th, td {
  padding: 1em;
  text-align: left;
  border-bottom: 1px solid #DDDDDD;
}
th:first-child, td:first-child {
  padding-left: 0;
}
th:last-child, td:last-child {
  padding-right: 0;
}



/* FIGURES */
figure {
  position: relative;
}
figcaption {
  font-size: 0.6666em;
  font-style: italic;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
  section.portfolio figcaption {
    background: rgba(217, 4, 41, 0.9);
    color: white;
    padding: 2rem;
    height: 100%;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    transform: scale(0.95);
    position: relative;
    top: 0;
  }
    section.portfolio [class*='w--']:hover figcaption {
      opacity: 1;
      transform: scale(1);
    }
    figure .info {
      font-size: 24px;
      opacity: 1;
      color: white;
      text-align: center;
      font-weight: 700;
      transition: all 0.15s ease-in-out;
      position: absolute;
      top: calc(50% - 12px);
      left: calc(50% - 6px);
      z-index: 1;
    }
      figure .info::before {
        content: '';
        display: block;
        background: rgba(217, 4, 41, 0.9);
        width: 40px;
        height: 40px;
        border-radius: 20px;
        position: absolute;
        top: calc(50% - 20px);
        left: calc(50% - 20px);
        z-index: -1;
        transition: all 0.2s ease-in-out;
      }
      section.portfolio [class*='w--'] * {
        color: rgb(210, 210, 210);
      }
    section.portfolio [class*='w--']:hover .info {
      opacity: 0;
      transform: scale(2.5);
    }
      section.portfolio [class*='w--']:hover .info::before {
        transform: scale(1.5);
        border-radius: 0;
      }


.text-small > * {
  font-size: 0.6666em;
}
.lightened {
    color: rgb(170, 170, 170);
  }
.section-title::after {
  content: '';
  display: block;
  height: 0.1875em;
  width: 4em;
  margin-top: 0.875rem;
  margin-bottom: 0.875rem;
  background: rgb(217, 4, 41);
}
  [class*='w--'].text-center .section-title::after {
    margin: 0.875rem auto;
  }